.page-header {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  width: 100%;
  min-height: 40px;
  gap: 15px;
  margin: 0 0 30px;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  gap: 30px;
  color: #a0a6ac;
}

.breadcrumbs .breadcrumb-item:last-child {
  word-break: break-word;
  color: #1a1a24;
}

.breadcrumbs .breadcrumb-item {
  position: relative;
  margin: 0;
  line-height: 1;
  font-weight: 400;
}

.breadcrumbs .breadcrumb-item {
  font-size: 20px;
  line-height: 26px;
}

.breadcrumbs .breadcrumb-item::after {
  content: "/";
  position: absolute;
  right: -20px;
  top: 0;
  width: 10px;
  text-align: center;
  pointer-events: none;
  opacity: .4;
}

.btns-group {
  margin-left: auto;
  justify-content: end;
  display: inline-flex;
  align-items: center;
  gap: 15px;
}

.btn-expanded {
  min-width: 150px;
  position: relative;
  z-index: 1;
  display: inline-flex;
  vertical-align: top;
  align-items: center;
  justify-content: center;
  outline: 0;
  border: 0;
  margin: 0;
  flex-shrink: 0;
  cursor: pointer;
  padding: 5px 20px;
  column-gap: 7px;
  -webkit-user-select: none;
  user-select: none;
  min-width: 40px;
  min-height: 40px;
  text-align: center;
  text-decoration: none;
  line-height: 1;
  font-weight: 600;
  color: #fff;
  font-size: 14.5px;
  font-family: "Source Sans 3", sans-serif, emoji;
  border-radius: 4px;
  background: none;
  transition: color .3s;
}

.btn-expanded::before {
  content: "";
  border-radius: inherit;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  pointer-events: none;
  -webkit-user-select: none;
  user-select: none;
  backface-visibility: hidden;
  background: #1a1a24;
  transition: filter .3s,opacity .3s,transform .3s,background .3s;
}

.btn-expanded i {
  font-size: 1.1428em;
  display: inline-block;
}

.btn-expanded span {
  cursor: pointer;
  font-weight: 600;
  color: #fff;
}

.table-wrapper {
  width: auto;
  min-height: 0;
  overflow: auto;
  padding: 0;
  max-height: 100%;
  max-width: calc(100% + 2 * 30px);
  margin-left: calc(30px * -1);
  margin-right: calc(30px * -1);
  /* border-bottom: 1px solid #d7dde3; */
}

.table {
  --entranceAnimationSpeed: .3s;
  border-collapse: separate;
  min-width: 100%;
  transition: opacity .15s;
  border-spacing: 0;
  padding: 10px;
}

thead {
  position: sticky;
  top: 0;
  z-index: 100;
  transition: box-shadow .3s;
}

table tr {
  outline: 0;
  background: #f8f9fa;
  transition: background .3s;
}

.col-head {
  position: relative;
  max-width: 300px;
  cursor: pointer;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding-right: 30px;
  transition: color .3s,background .3s;
  color: #617079;
  font-weight: 600;
  font-size: 1rem;
  -webkit-user-select: none;
  user-select: none;
  height: 50px;
  line-height: 16px;
  outline: 0;
  vertical-align: middle;
  position: relative;
  text-align: left;
  padding: 10px;
    padding-right: 10px;
  border-bottom: 1px solid #d7dde3;;
}

.col-header-content {
  display: inline-flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 5px;
}

.col-header-content i {
  font-style: normal;
  font-size: 0.9rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.col-header-content .txt {
  cursor: pointer;
  color: #617079;
  font-weight: 600;
  font-size: 1rem;
  line-height: 16px;
  text-align: left;
}

tbody {
  position: relative;
  z-index: 0;
}

.row-content {
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  outline: 0;
  background: #f8f9fa;
  transition: background .3s;
}

.col-field {
  position: relative;
  max-width: 300px;
  height: 56px;
  word-break: break-word;
  outline: 0;
  vertical-align: middle;
  position: relative;
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #d7dde3;;
}

.col-field span{
  display: inline-block;
  vertical-align: top;
  flex-shrink: 1;
  min-width: 0;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}