@page "/"
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization

<header class="page-header">
    <nav class="breadcrumbs">
        <div class="breadcrumb-item">Dashboard</div> 
    </nav>
</header>