@using FocusFlow.Client.Layout.Components.NavMenu
@using FocusFlow.Client.Layout.Components.UserMenu
@inherits LayoutComponentBase

<div class="app-layout">
    <aside class="app-sidebar">
        <a href="#/" class="logo logo-sm"><img src="./images/logo.svg" alt="PocketBase logo" width="40" height="40"></a>
        <NavMenu />
        <UserMenu />
    </aside>
    <div class="page-wrapper">
        <main class="page-content">
            @Body
        </main>
    </div>
</div>
