<nav class="main-menu">
    <NavLink href="/"   aria-label="Dashboard" Match="NavLinkMatch.All">
        <i class="fa-solid fa-gauge"></i>  
    </NavLink> 
    <NavLink href="/projects"  aria-label="Projects">
        <i class="fa-solid fa-chalkboard"></i>
    </NavLink>
    <NavLink href="/tasks"  aria-label="Tasks">
        <i class="fa-solid fa-list-check"></i>
    </NavLink>
</nav>