@page "/projects/{ProjectId:long}"
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization
@using FocusFlow.Client.Services
@inject ProjectClientService ProjectClientService


<header class="page-header">
    <nav class="breadcrumbs">
        <div class="breadcrumb-item">Projects</div> 
        <div class="breadcrumb-item">New Project</div> 
    </nav>
</header>


